<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{ with .Title }}<title>{{ . }}</title>{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">
<link rel="stylesheet" href="{{ "foundation-5.1.1/css/normalize.css" | absURL }}">
<link rel="stylesheet" href="{{ "foundation-5.1.1/css/foundation.css" | absURL }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Montserrat">
<link rel="stylesheet" href="{{ "css/mpa.css" | absURL }}">
<link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}">
{{ template "_internal/google_analytics_async.html" . }}
